# Virtual environment
.venv/

# dbt
dbt_packages/
target/
logs/
*.duckdb
*.db

# Dagster
dagster_home/
glucose_ingest.log
glucose_ingest_project/.tmp_*


# OS/system files
.DS_Store
Thumbs.db

# dbt profiles (local config)
~/.dbt/

# Log and backup files
*.log
*.bak

# Environment variables
.env
.env.prod
.env.dev

# Python
__pycache__/
*.pyc
*.pyo
*.log
*.ipynb


